.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  textarea {
    display: block;
    margin: 4px 0 8px;
  }
  .example-button-row {
    display: table-cell;
    width: 490px;
    margin: 10px;
  }
  .mat-card{
    width: 700px;
  }
  .td{
width: 100px;
  }
  .ng-tns-c68-0{
    width: 300px;
    height: 60px;
  }
  .ng-tns-c68-5{
    width: 300px;
    height: 60px;
  }